<div class="container">
    
    <button color="primary" (click)="logout()" mat-raised-button>
        <span>Log Out</span>
    </button>
    
</div>



<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Jon@gmail.com" formControlName="email">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Passoword</mat-label>
        <input matInput type="password" formControlName="password" placeholder="********">
    </mat-form-field>
    
    <button color="accent" [disabled]="!loginForm.valid" mat-raised-button type="submit">
        <span>Sign In</span>
    </button>
</form>


    
    