<!-- <mat-toolbar color="primary">CRUD Operations</mat-toolbar>
<h1 style="text-align: center; font-size: 48px; font-weight: bold; margin-top: 100px;">Shopping List</h1>
<mat-card style="width: 50%; margin: auto;">
<button 
(click)="createItem()" mat-fab color="primary" style="float: right;">
<mat-icon>add</mat-icon>
</button> -->


<h1>{{ loggedUserId }}</h1>




<!-- 
<mat-form-field style="width: 100%;">
<mat-label>Grocery Item</mat-label>
<input [(ngModel)]="item" matInput placeholder="Ex. Rice" />
</mat-form-field>


<mat-form-field style="width: 100%;">
    <mat-label>Search an Item</mat-label>
    <input [(ngModel)]="itemSearch" matInput placeholder="Write name to search
    " />
    </mat-form-field> -->


  <!--
<mat-list>
   <mat-list-item *ngFor="let i of itemList | filter : itemSearch ">
        <span style="font-weight: bold;">
        {{i.id}}&nbsp;&nbsp;{{i.item}}
        </span>
        <span style="position: absolute; right: 0;">
            <button mat-icon-button>
                <mat-icon (click)= "editItem(i)" color="primary">
                Edit
                </mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)= "removeItem(i)" color="warn">
                Delete
                </mat-icon>
            </button>
        </span>
    </mat-list-item>
</mat-list> 
   
</mat-card>
-->


<mat-card style="width: 60%; float: left;">

  <button 
  mat-fab color="primary" style="float: right;" (click)="addUserList()">
 <mat-icon>add</mat-icon>
 </button>
      
 <mat-form-field style="width: 100%;">
  <mat-label>Create A New List Here</mat-label>
  <input [(ngModel)]="listName" matInput placeholder="Ex. MyListOne" />
  </mat-form-field>
  
  
 

<mat-list>
    <mat-label>
        
      <mat-form-field style="width: 100%;">
        <mat-label>Write New Name of List Here , then click on 'Rename'</mat-label>
        <input [(ngModel)]="listRename" matInput placeholder="Ex. MyListOne" style="float: left;" /> 
        </mat-form-field>
   
    
        
       
        
              
    </mat-label>


    <mat-list-item *ngFor="let l of userLists">
  
        
      
        <!-- <span style="font-weight: bold;">{{l.user_id}}</span> -->
        <div class="list-info" style="float: left;">  
        <span style="font-weight: bold;">
          {{l.name}}
        </span>
        </div>
      
        <!-- <span style="font-weight: bold;">{{l.updated_date}}</span> --->
        <!-- <div  class="list-info">
            <span style="font-weight: bold;">{{l.status}}</span> 
        </div> -->
       
        <span style="position: absolute; right: 0;">
         
            &nbsp;
            <button mat-raised-button color="primary" style="float: inline-start;" (click)="renameList(l)">Rename </button> 
           &nbsp;
            <button mat-raised-button color="accent" (click)="refreshListItems(l)" >View</button>
           &nbsp;
            <!-- <button mat-raised-button color="primary">Edit</button>
            &nbsp; &nbsp; -->
            <button mat-raised-button color="warn" (click)="deleteList(l)" >Delete</button>
        </span>
      
       
    </mat-list-item>
</mat-list>
</mat-card>



<mat-card style="width: 30%; float: right;">
    <h1 style="text-align: center; font-size: 28px; font-weight: bold; margin-top: 30px;">
    {{ selectedList }}
    <input value="{{selectedListId}}" type="hidden"/>
    </h1>


   
    
   

    <button (click)="addListItem()"
    mat-fab color="primary" style="float: right;">
   <mat-icon>add</mat-icon>
   </button>
        
   <mat-form-field style="width: 80%;">
    <mat-label>Add An Item Here</mat-label>
    <input [(ngModel)]="itemDesc" matInput placeholder="Ex. Bread" />
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Write Edited Description Here , then click on 'Edit'</mat-label>
      <input [(ngModel)]="itemDescEdit" matInput placeholder="Ex. Something" style="float: left;" /> 
      </mat-form-field>

    <!-- <mat-form-
      
      field style="width: 100%;">
        <mat-label>Item</mat-label>
        <input [(ngModel)]="item_desc" matInput placeholder="Ex. Rice" />
        </mat-form-field> -->

    
    
    <mat-list>
    <mat-list-item *ngFor="let i of listItems">
        <span style="font-weight: bold;">
            <!-- {{i.id}} -->
             &nbsp; &nbsp; {{i.item_desc}} 
        </span>   

            <span style="position: absolute; right: 0;">

              <button mat-raised-button color="accent" (click)="editListItem(i)" style="float: inline;">
                Edit
              </button>&nbsp; &nbsp;
            <button mat-raised-button color="warn" (click)="deleteListItem(i)" style="float: inline;">
                Delete
              </button>
            </span>
        
    </mat-list-item>
    
    </mat-list>
</mat-card>

