<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>

<mat-form-field>
    <mat-label>Userame</mat-label>
    <input matInput placeholder="Ex. Jon" formControlName="username">
</mat-form-field>

<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Jon@gmail.com" formControlName="email">
</mat-form-field>

<mat-form-field>
    <mat-label>Passoword</mat-label>
    <input matInput type="password" formControlName="password" placeholder="********">
</mat-form-field>

<button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit">
    <span>Sign Up</span>
</button>

</form>




