
<mat-toolbar color="accent">

<span>
    <a routerLink="/"><span>Social Store</span></a>
</span>

<span>

    <a routerLink="/posts" routerLinkActive="active-link"><span>Groceries</span></a>

               
            
                

            
                <a routerLink="/login" routerLinkActive="active-link" ><span>Login/Logout</span></a>
           
            
       
         
    

   

    <a routerLink="/signup" routerLinkActive="active-link"><span>Sign Up/Register</span></a>

    <button mat-raised-button color="primary" (click)="checkuser()"><span>Check user</span></button>
</span>


</mat-toolbar>
